<div class="footer-container">
    <div style="background-color: #4f7faa;" class="tx-primary box">
        <div class="footer-text">
            <div class="footer-links">
                <a *ngFor="let item of navLinks" class="footer-link router-link tx-primary" href="{{ item.link }}">{{ item.title }}</a>
        </div>
        <div class="social">
            <a href="https://www.instagram.com/thesullivansislandclub" target="_blank"><img alt="instagram icon" class="social-img" src="/Instagram_Glyph_White.png" /></a>
            <a href="https://www.facebook.com/profile.php?id=61558019979800&mibextid=ZbWKwL" target="_blank"><img alt="facebook icon" class="social-img" src="/Facebook_Logo_Secondary.png" /></a>
        </div>
        </div>
        <p>1452 Poe Ave, Sullivans Island, SC 29482</p>
        <!-- <div class="copyrights">
            <p>Designed & Developed by Sarah Delfino</p>
        </div> -->
    </div>
</div>