<div [formGroup]="form">
    <label [attr.for]="question.key">{{ question.label }}</label>
    <div>
      @switch (question.controlType) {
        @case ('textbox') {
          <input [formControlName]="question.key" [id]="question.key" [type]="question.type">
        } @case ('dropdown') {
          <select [id]="question.key" [formControlName]="question.key">
          @for (opt of question.options; track opt) {
            <option [value]="opt.key">{{ opt.value }}</option>
          }
          </select>
        } @case ('radio') {
          @for (opt of question.options; track opt) {
            <label for="{{opt.key}}" style="text-align: center;">{{ opt.value }}</label>
          <input [formControlName]="question.key" [id]="opt.key" [name]="question.key" [type]="question.type" [value]="opt.value">
          }
        }
      }
    </div>
    <!-- @if (!isValid) {<div class="errorMessage">{{ question.label }} is required</div>} -->
  </div>