<div class="nav-container">
        <div class="menu-container">
            <button (click)="menuClicked = !menuClicked" class="menu-button btn-primary">Menu</button>
            <span class="nav-items bg-primary" *ngIf="menuClicked">
                <a class="nav-item tx-secondary" *ngFor="let link of navLinks" href="{{ link.link }}">{{ link.title
                    }}</a>
            </span>
        </div>
        <div class="title-container">
            <h1 style="margin: 0px;" class="tx-secondary">{{ title }}</h1>
        </div>
        <div class="logo-container">
            <a href="/">
            <img class="nav-logo" src="/logo.png">
        </a>
        </div>
</div>