.events-container {
    max-width: 1200px;
    min-width: 375px;
    margin-left: auto;
    margin-right: auto;
}

.events-img {
    background: url('/nirvana-frames-s.jpg') no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 200px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 760px) {
    .events-img {
        background: url('/nirvana-frames-m.jpg') no-repeat;
        background-position: bottom 30% right 40%;
        background-size: cover;
    }
}