<div class="events-container tx-secondary">
    <h1 style="margin-left: 10px">Events</h1>
    <iframe
                    src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&bgcolor=%23ffffff&showPrint=0&showTitle=0&showCalendars=0&showTabs=0&showTz=0&src=ZGVhYmZhMWRhMTVkYmZhOWJlNjQxYjRhMDMyZTY5ZGEzZDFhNGI5MWM5NDRiMzMwNDAxMjBjZDg1MmIyNTVlMkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23A79B8E"
                    style="border-width:0" width="100%" height="600px" frameborder="0" scrolling="no"></iframe>
</div>