<div class="blog-container tx-secondary">
    <div class="blog-img"></div>
    <div class="blog-posts-container">
            <div class="blog-post-img"></div>
            <div class="blog-text">
            <div class="blog-title">
                <h2>{{ this.blogPost.title }}</h2>
            </div>
            <div class="blog-info">
                <p>{{ this.blogPost.date }}</p>
            </div>
            <div class="blog-description">
                <p>{{ this.blogPost.description }}</p>
            </div>
            </div>
    </div>
</div>