h1 {
    margin: 0px;
}

h2 {
    margin-top: 10px;
    font-weight: 400;
}

.blog-post-container {
    max-width: 1200px;
    min-width: 375px;
    margin-left: auto;
    margin-right: auto;
}

.blog-post-img {
    object-fit: cover;
    width: 100vw;
    height: 200px;
    background-size: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.blog-post-text {
    padding: 10px;
}

.blog-post-tagline {
    text-align: center;
    margin: 20px 0px 20px 0px;
}