<div class="blog-post-container tx-secondary">
    <div *ngIf="this.mobile == true; else desktop">
        <img class="blog-post-img" src="{{this.blogPost.img}}.png">
    </div>
    <ng-template #desktop>
        <img class="blog-post-img" src="{{this.blogPost.img}}-m.png">
    </ng-template>
    <div class="blog-post-text">
        <div class="blog-post-title">
            <h1>{{ this.blogPost.title }}</h1>
        </div>
        <div class="blog-post-info">
            <p style="margin: 0px; font-size: .75rem;">{{ this.blogPost.date }}</p>
        </div>
        <div [innerHTML]="this.html | safeHtml"></div>
    </div>
</div>