h1 {
    margin: 0px;
}

h2 {
    margin-top: 10px;
    font-weight: 400;
}

.blog-post-container {
    max-width: 1200px;
    min-width: 375px;
    margin-left: auto;
    margin-right: auto;
}

.blog-post-img {
    object-fit: cover;
    width: 100vw;
    height: 200px;
    background-size: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.blog-post-text {
    padding: 10px;
}

.blog-post-tagline {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.reel-container {
    height: 100vh;
}

.reel {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 960px) {
    .reel-container {
        margin: 20px auto auto auto;
        text-align: center;
        width: 50vw;
        height: 85vh;
    }

    .reel {
        width: 50%;
        height: 100%;
    }
}