.contact-container {
    max-width: 700px;
    margin: auto;
    border: 1px solid #4f7faa;
    border-radius: 10px;
    padding: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.invalid {
    border-left: 5px solid #a94442;
}