h3 {
    margin: 0px;
    font-size: 1rem;
    font-weight: bold;
}

.alert-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.alert-icon {
    width: 35px;
    margin-right: 10px;
}

.ticket-btn {
    text-decoration: underline;
    margin-left: 8px;
    color: white;
}

.info {
    background-color:  #7098BC;
}

.success {
    background-color: #7FAA4F;
}

.err {
    background-color: #a94442;
}