h3 {
    margin: 0px;
    font-size: 1rem;
    font-weight: bold;
}

.alert-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alert-icon {
    width: 35px;
    margin-right: 10px;
}

.info {
    background-color:  #7098BC;
}

.success {
    background-color: #7FAA4F;
}

.err {
    background-color: #FF7474;
}

/* @media screen and (min-width: 1200px) {
    img {
        padding-left: 8rem;
    }
}

@media screen and (min-width: 1800px) {
    img {
        padding-left: 20rem;
    }
} */