h1 {
    margin: 0px;
}

h2 {
    margin-top: 10px;
}

h3 {
    margin: 0px;
}

.event-detail-container {
    max-width: 1200px;
    min-width: 375px;
    margin: auto;
}

.event-detail-title {
    position: absolute;
    top: 10%;
    right: 5%;
}

.event-detail-img {
    background: url('/stripes-m.png') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 125px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.event-img {
    /* max-width: 30vw; */
    width: -webkit-fill-available;
    /* border-radius: 10px; */
}

.event-detail-body {
    display: flex;
    flex-direction: column;
    /* background-color: #4f7faa; */
    color: #4f7faa;
    border-radius: 10px;
    justify-content: space-between;
    align-items: baseline;
}

.event-detail {
    margin: auto;
    padding: 10px;
    min-width: 350px;
}

@media screen and (min-width: 760px) {
     .event-img {
        max-width: 640px;
        margin: auto;
     }
    .event-detail-img {
        background: url('/stripes-m.png') no-repeat;
        background-position: bottom;
        background-size: cover;
    }
}