<div class="event-detail-container">
    <div class="event-detail-img"></div>
    <div class="event-detail-body">
        <img class="event-img" src="tasteheader.png">
        <div class="event-detail">
            <h2>Saturday, May 17th</h2>
            <h2>12pm - 3pm</h2>
            <h3>$60 per ticket for Island Club members, $30 per child ticket</h3>
            <h3>$80 per ticket for non-members, $40 per child ticket</h3>
            <p>Children's tickets are required for children between 5 - 20 years old</p>
            <p>Please be sure to select the appropriate ticket type and quantity for your family; the defualt is 1 of each ticket type.</p>
            <a href="https://donate.stripe.com/cN2eUW7Km8IU1DWcMV" class="btn btn-primary">Buy Tickets</a>
        </div>
    </div>
    <img style="max-width: 1200px; width: -webkit-fill-available;" src="sips.png">
    <div class="event-detail-img bottom"></div>
</div>