<div class="event-detail-container">
    <div class="event-detail-img"></div>
    <p class="tx-secondary" style="padding: 10px; margin-top: 0px;">
    </p>
    <div class="event-detail-body">
        <img class="event-img" src="TOS.jpg">
        <div class="event-detail">
            <h2>Saturday, May 17th</h2>
            <h2>12pm - 3pm</h2>
            <h3>$60 per ticket for Island Club members</h3>
            <h3>$80 per ticket for non-members</h3>
            <button class="btn-secondary">Buy Tickets</button>
        </div>
    </div>
</div>