h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
}

h3 {
    margin: 10px 0px 10px 0px;
}

ul {
    list-style: none;
    padding-left: 20px;
}

ul li:before {
    content: '✓';
    margin-right: 5px;
}

.img-container {
    height: 200px;
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.title {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}

.capital-container {
    max-width: 1200px;
    min-width: 375px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.capital-title {
    position: absolute;
    top: 10%;
    right: 5%;
}

.capital-img {
    width: 100vw;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.capital-text {
    text-align: center;
    padding: 5px 10px 10px 10px;
    border-radius: 15px;
    margin: 0px 10px 10px 10px;
}

.chart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}

.capital-tagline {
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.reno-img {
    text-align: center;
}

.project-img {
    width: -webkit-fill-available;
    display: block;
    margin: auto;
}

@media screen and (max-width: 400px) {
    .title {
        left: 10px;
    }
}

@media screen and (max-width: 500px) {
    .chart-container {
        flex-direction: column;
    }
    .img-text {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 500px) {
    img {
        max-height: 300px;
    }
}

@media screen and (min-width: 760px) {
    img {
        max-height: 400px;
    }
}