<div class="title">
    <h1 class="tx-secondary">Capital Project</h1>
</div>
<div class="capital-container">
    <img class="top-img capital-img" src="/matt-briney-PE-tx2ivjLM-unsplash.jpg">
    <div class="capital-text tx-secondary">
        <div class="capital-tagline">
            <h2>Our goal is simple:<br>
            We want to provide a place to bring neighbors <span style="font-weight: bold;">together.</span>
            </h2>
        </div>
        <div class="chart-container">
            <img style="max-width: 45vw;" src="/chart.png">
            <div  style="padding-left: 20px;" class="img-text">
            <h3>To be a successful community center, the building needs to be safe, attractive, and functional.
            </h3>
            <h3>Our fundraising goal of $250,000 would transform the club
                into something our community can be <span style="font-weight: bold;">proud of.</span>
            </h3>
            <h4>19% of our goal has been raised so far. Please donate today!</h4>
            <div style="text-align: center; margin-top: 10px;">
                <a href="/The Island Club Posters.pdf" download="TheIslandClubPlans.pdf" target="_blank"><button
                        class="bg-secondary tx-primary">Download Plans</button></a>
                <a href="https://buy.stripe.com/aEU5kmaWy9MYbew9AD" target="_blank"><button
                        class="btn-secondary">Donate</button></a>
                    </div>
        </div>
        </div>
        <h3>We've worked with local architect Steve Herlong and David Lugo of Paverscapes to come up with a
            plan to achieve these goals</h3>
        <div class="reno-img">
            <img class="project-img"
                src="/Island Club Renovation - Hardscape and Landscape Design Plan (Revised - 24x36).png">
        </div>
        <ul>
            <li>Restore the center door and add a porch</li>
            <li>Improve the patio under the oak tree</li>
            <li>Add a new ADA ramp and ada parking space</li>
            <li>Add a front yard by replacing the concrete with pervious pavers and grass</li>
            <li>Complete interior update to the restrooms, bar, fixtures, and furnishes</li>
            <li>Add hot water</li>
            <li>Add insulation</li>
        </ul>
        <div class="reno-img">
            <img class="project-img" src="/Island Club Renovations 24_0516.png">
        </div>
    </div>
</div>