* {
    font-family: "Ubuntu", sans-serif;
}

html {
    background-color: #4f7faa;
}

body {
    margin: 0;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

h2, h3 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

a {
    text-decoration: none;
}

button {
    width: fit-content;
    padding: .8em;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    margin: 5px;
}

input {
    height: 30px;
    border: 1px solid f;
    border-radius: 2px;
    padding: 5px;
}

textarea {
    height: 50px;
    border: 1px solid #4f7faa;
    border-radius: 2px;
    padding: 5px;
}

.router-link {
    text-decoration: none;
}

.bg-primary {
    background-color: #4f7faa;
}

.tx-primary {
    color: #4f7faa;
}

.bg-secondary {
    background-color: white;
    border: 1px solid #4f7faa;
}

.tx-secondary {
    color: white;
}