* {
    font-family: "Ubuntu", sans-serif;
}

html {
    background-color: white;
}

body {
    margin: 0;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

h2, h3 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

a {
    text-decoration: none;
}

button {
    width: fit-content;
    padding: .8rem;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    cursor: pointer;
}

input, select {
    height: 30px;
    margin-bottom: 8px;
    border: 1px solid gray;
    padding: 5px;
}

textarea {
    height: 50px;
    border: 1px solid #4f7faa;
    border-radius: 2px;
    padding: 5px;
}

.router-link {
    text-decoration: none;
    color: #4f7faa;
}

.bg-primary {
    background-color: white;
}

.tx-primary {
    color: white;
}

.btn-primary {
    background-color: #4f7faa;
    color: white;
    border: 1px solid white;
}

.bg-secondary {
    background-color: #4f7faa;
}

.btn-secondary {
    background-color: white;
    color: #4f7faa;
    border: 1px solid #4f7faa;
}

.tx-secondary {
    color: #4f7faa;
}

.top-img {
    max-width: 100%;
}

@media screen and (min-width: 1800px) {
    button {
        padding: 1rem;
        font-size: 1rem;
        border-radius: 5px;
        margin: 5px;
    }
}