<div class="heading-container">
  <div class="text">
    <div class="text-container tx-primary">
      <div class="title">
        <h1>The Island Club</h1>
      </div>
      <div class="tagline">
        <h2>A community club for residents of Sullivan's Island, past and present, for all generations.</h2>
      </div>
      <div class="heading-btn-container">
        <button routerLink="/membership" class="btn-primary">
          Join now!
        </button>
      </div>
    </div>
  </div>
</div>
<div class="home-container">
  <app-featured></app-featured>
  <div class="upcoming-events-container bg-primary">
    <h2 style="text-align: center; font-weight: bold;">Upcoming Events</h2>
    @if (this.events.length > 0) {
    <div class="polaroid-container">
      <div class="upcoming-event" *ngFor="let event of events">
        @for (event of events; track event.id) {}
        <div class="polaroid">
          <img alt="upcoming event image" srcset="{{ event.img }}-s.jpg 650w, {{ event.img }}-m.jpg 1920w"
            sizes="(max-width: 1000px) 100vw, 1000px" />
        </div>
        <div class="event-text">
          <h2 style="margin: 0;" class="row-title">{{ event.title }}</h2>
          <div class="row-datetime">
            <h3 style="margin-right: 10px;">{{ event.start | date: 'fullDate' }}</h3>
            <h3 *ngIf="event.start.length > 1 && event.end.length > 1">{{ event.start | date:
              'shortTime':'undefined':'en-US' }} - {{ event.end | date: 'shortTime':'undefined':'en-US' }}</h3>
          </div>
          <div *ngIf="event.description">
            <div style="margin: 0px; font-weight: 300;" [innerHTML]="event.description | safeHtml"></div>
          </div>
        </div>
      </div>
    </div>
    }
    @else {
    <ng-template #skeleton>
      <div class="row">
        <div class="row-img-container">
          <ngx-skeleton-loader [theme]="isMobile ? mobileSkelTheme : skelTheme" />
        </div>
        <div class="row-text">
          <ngx-skeleton-loader [count]="isMobile ? 1 : 2" [theme]="{width: '40vw'}" />
        </div>
      </div>
      <div class="row">
        <div class="row-img-container">
          <ngx-skeleton-loader [theme]="isMobile ? mobileSkelTheme : skelTheme" />
        </div>
        <div class="row-text">
          <ngx-skeleton-loader [count]="isMobile ? 1 : 2" [theme]="{width: '40vw'}" />
        </div>
      </div>
    </ng-template>
    }
    <div class="upcoming-event-buttons">
      <button (click)="viewAllEventsClick()" routerLink="/events" class="view-events-button btn-primary">View Full
        Calendar
      </button>
      <button class="req-events-button btn-secondary" routerLink="/events">Request Event</button>
    </div>
  </div>
  <!-- <div class="polaroids-container">
    <a href="/membership"><img alt="link to membership page" src="/membership.svg"></a>
    <a href="https://buy.stripe.com/aEU5kmaWy9MYbew9AD" target="_blank"><img alt="link to donate page"
        src="/donate.svg"></a>
    <a href="/blog"><img alt="link to blogs page" src="/blog.svg"></a>
  </div> -->
  <app-contact></app-contact>
</div>