h1 {
    margin-top: 5px;
    margin-bottom: 0px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    margin: 5px 0px;
    font-size: 1rem;
    font-weight: bold;
}

.heading-container {
    height: 75vh;
    background-image: url('/matt-benson-TzdnVuPzY1g-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10%;
}

.nav-logo {
    width: 75px;
    padding-top: .75rem;
}

.text {
    max-width: 1200px;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: right;
}

.text-container {
    width: 250px;
    text-align: right;
    position: relative;
    margin-right: 1rem;
}

.title {
    font-size: 32px;
    line-height: 70px;
}

.tagline {
    font-size: 14px;
}

.heading-btn-container {
    width: 300px;
    position: relative;
    right: 3rem;
}

.home-container {
    max-width: 1200px;
    margin: -10rem auto 0px auto;
}

.upcoming-events-container, .contact-container {
    max-width: 1200px;
    padding: 10px;
    border-radius: 5px;
    color: #4f7faa;
    border: 1px solid #4f7faa;
}

.title {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: right;
}

.row {
    display: flex;
    margin-bottom: 10px;
    border: 1px solid #4f7faa;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    min-height: 125px;
}

.arrow {
    margin-left: auto;
    font-weight: bold;
    font-size: 18px;
}

.row-img {
    width: 25vw;
    max-width: 235px;
    height: 90px;
    margin-right: 10px;
    border: 1px solid #4f7faa;
    border-radius: 5px;
}

.row-title {
    font-weight: 400;
}

.row-text {
    flex-grow: 2;
    max-width: 55vw;
    margin: 10px 5px 10px 10px;
    word-wrap: break-word;
}

.upcoming-event-buttons {
    text-align: center;
}

.polaroids-container {
    text-align: center;
    margin: 30px 0 30px 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 400px) {
    button {
        margin-top: 0;
        margin-right: 0;
    }
    .row {
        flex-direction: column;
    }
    .row-img-container {
        width: -webkit-fill-available;
        overflow: hidden;
        height: 150px;
    }
    .row-img {
        max-width: none;
        width: -webkit-fill-available;
        height: auto;
        margin-right: 0px;
    }
    .row-text {
        max-width: 90vw;
    }
    .text-container {
        margin-top: 0;
        right: 1rem;
    }
}

@media screen and (max-width: 500px) {
        .row-datetime {
        display: block;
    }
}

/* @media screen and (min-width: 500px) {
    .heading-container {
        background-position: top 15% left 5%;
    }

} */

@media screen and (min-width: 960px) {
    .row-img {
        width: 20vw;
        height: 100px;
    }
    /* .heading-container {
        height: 85vh;
    } */
    .heading-container {
        height: 60vh;
    }
}