<div class="heading-container">
  <div class="text-container tx-primary"> 
  <div class="title">
      <h1>The Island Club</h1>
  </div>
  <div class="tagline">
      <h2>A community gathering place for residents of Sullivan's Island,<br> South Carolina</h2>
  </div>
  <!-- <div class="alert-container">
      <div class="alert-text">
          <div class="alert-title">
              The Island Club is expanding!
          </div>
      </div>
  </div> -->
  <div class="heading-btn-container">
  <button class="btn-primary">
    <!-- <RouterLink style="color: white;" class="router-link" to="/membership">Membership</RouterLink> -->
    Membership
  </button>
  <button class="btn-secondary">
    <!-- <RouterLink class="router-link" to="/capital-project">Capital Project</RouterLink> -->
    Capital Project
  </button>
</div>
</div>
</div>