h1 {
    margin-top: 5px;
    margin-bottom: 0px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    margin: 5px;
    font-size: 1rem;
}

.alert-comp {
    position: relative;
    bottom: 7.5rem;
}

.heading-container {
    height: 85vh;
    background-image: url('/matt-benson-TzdnVuPzY1g-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75%;
}

.nav-logo {
    width: 75px;
    padding-top: .75rem;
}

.text-container {
    width: 250px;
    margin-top: 20px;
    text-align: right;
    position: absolute;
    right: 3rem;
}

.title {
    font-size: 32px;
    line-height: 70px;
}

.tagline {
    font-size: 14px;
}

.heading-btn-container {
    width: 300px;
    position: relative;
    right: 3rem;
}

.upcoming-events-container {
    max-width: 1200px;
    width: 94vw;
    padding: 10px;
    border-radius: 15px;
    color: #4f7faa;
    border: 1px solid #4f7faa;
    margin: -125px auto 0px auto;
}

.title {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: right;
}

.row {
    display: flex;
    height: 90px;
    margin-bottom: 10px;
    border: 1px solid #4f7faa;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
}

.arrow {
    margin-left: auto;
    font-weight: bold;
    font-size: 18px;
}

.row-img {
    width: 25vw;
    max-width: 235px;
    height: 90px;
    margin-right: 10px;
    border: 1px solid #4f7faa;
    border-radius: 5px;
}

.row-title {
    font-weight: 400;
}

.row-text {
    margin: 10px 5px 10px 10px;
}

.upcoming-event-buttons {
    text-align: center;
}

.polaroids-container {
    text-align: center;
    margin: 30px 0 30px 0;
}

@media screen and (max-width: 389px) {
    .upcoming-events-container {
        margin: -100px auto 20px auto;
    }
    
}

@media screen and (max-width: 400px) {
    button {
        margin-top: 0;
        margin-right: 0;
    }
    .text-container {
        margin-top: 0;
        right: 1rem;
    }
}

@media screen and (min-width: 500px) {
    .heading-container {
        background-position: top 15% left 5%;
    }
}

@media screen and (min-width: 960px) {
    .row-img {
        width: 20vw;
        height: 100px;
    }
}

@media screen and (min-width: 1200px) {
    .text-container {
        right: 8rem;
    }
}

@media screen and (min-width: 1800px) {
    .text-container {
        right: 20rem;
    }
}