h1 {
    margin: 0px;
}

h2 {
    margin-top: 10px;
}

h3 {
    margin: 0px;
}

label {
    text-align: left;
    margin-right: 10px;
}

#membershipContainer {
    background-color: #3b5f7f;
    padding: 0px 10px 10px;
}

#requestContainer {
    padding: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.flex-items {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.invalid {
    color: #FF7474;
    margin: 0;
    font-weight: bold;
}

.anotherFlex {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.errorFlex {
    display: flex;
    flex-direction: row;
}

.title {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}

.membership-container {
    max-width: 1200px;
    min-width: 375px;
    margin-left: auto;
    margin-right: auto;
}

.membership-title {
    position: absolute;
    top: 10%;
    right: 5%;
}

.membership-img {
    background: url('/roger-starnes-s.jpg') no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 175px;
    background-position: bottom;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.membership-body {
    margin-top: 10px;
    background-color: #3b5f7f;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    width: 98vw;
}

.member-tabs {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.tab {
    width: 50%;
    height: 65px;
    align-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab:hover {
    cursor: pointer;
}

.primary {
    color: white;
    background-color: #3b5f7f;
    text-decoration: underline;
}

.secondary {
    background-color: white;
    color: #3b5f7f;
}

.membership-tagline {
    margin: 20px 0px 20px 0px;
}

.membership-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.event-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 760px) {
    .membership-body {
        margin-top: 10px;
        width: 80vw;
        margin: auto;
    }
    .membership-img {
        background: url('/roger-starnes-m.jpg') no-repeat;
        background-position: bottom 30% right 40%;
        background-size: cover;
    }
    #requestContainer, #membershipContainer {
        width: 70vw;
        margin: auto;
    }
}