h1 {
    margin: 0px;
}

h2 {
    margin-top: 10px;
}

label {
    text-align: left;
    color: #4f7faa;
}

.title {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}

.membership-container {
    max-width: 1200px;
    min-width: 375px;
    margin-left: auto;
    margin-right: auto;
}

.membership-title {
    position: absolute;
    top: 10%;
    right: 5%;
}

.membership-img {
    width: 100vw;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.member-buttons {
    margin-bottom: 20px;
    text-align: center;
}

.membership-text {
    padding: 5px 10px 10px 10px;
}

.membership-tagline {
    margin: 20px 0px 20px 0px;
}

.membership-form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.radio-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.radio-button {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.event-form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 500px) {
    .membership-img {
        max-height: 300px;
    }
}

@media screen and (min-width: 700px) {
    .membership-img {
        height: 400px;
    }
}