<div class="membership-container">
<div class="membership-img"></div>
<h3 class="tx-secondary" style="padding: 10px;">The Island Club is open to all current and prior residents of
    Sullivan's Island. Membership
    allows you to attend & host events and includes one free private rental per year.</h3>
<div id="buttons" class="member-buttons">
    <button (click)="toggleSignup()" [ngClass]="this.signUpVisible ? 'btn-secondary' : 'btn-primary'">Become a Member</button>
    <button (click)="toggleRequest()" [ngClass]="this.requestFormVisible ? 'btn-secondary' : 'btn-primary'">Request an Event</button>
</div>
<div *ngIf="requestFormVisible" class="membership-text">
    <app-alert *ngIf="err || success" text="{{ alertText }}" type="{{ alertType }}"></app-alert>
    <form id="eventForm" class="event-form" (submit)="submit($event)">
        <h2 class="tx-secondary">Submit an Event</h2>
        <label for="first_name">First Name</label>
        <input required id="first_name" name="first_name" />
        <label for="last_name">Last Name</label>
        <input required id="last_name" name="last_name" />
        <label for="phone">Phone Number</label>
        <input required id="phone" name="phone" />
        <label for="email">Email</label>
        <input required id="email" name="email" />
        <label for="event_date">Event Date</label>
        <input required id="event_date" name="event_date" type="date" />
        <label for="event_start">Start Time</label>
        <input required id="event_start" name="event_start" type="time" />
        <label for="event_end">End Time</label>
        <input required id="event_end" name="event_end" type="time" />
        <label for="event_name">Event Name</label>
        <input required id="event_name" name="event_name" />
        <label for="event_description">Event Description</label>
        <textarea style="margin-bottom: 8px;" required id="event_description" name="event_description"></textarea>
        <button style="margin-left: 0;" class="btn-primary" type="submit">Submit</button>
    </form>
</div>
<!-- <div *ngIf="signUpVisible" class="membership-text tx-secondary">
    <h2 class="tx-secondary">Become a Member</h2>
    <app-alert text="You will be sent to Stripe to complete your payment once you click submit."
        type="info"></app-alert>

    <app-alert *ngIf="err || success" text="{{ alertText }}" type="{{ alertType }}"></app-alert>

    <form #membershipForm id="membershipForm" class="membership-form" (submit)="submit($event)">
        <div class="radio-buttons">
            <div class="radio-button">
                <input required type="radio" id="indv" name="mem_type" value="individual" />
                <label style="text-align: center;" for="indv">Individual $250</label>
            </div>
            <div class="radio-button">
                <input required type="radio" id="fam" name="mem_type" value="family" (click)="familyChecked = true" />
                <label style="text-align: center;" for="fam">Family $350</label>
            </div>
        </div>
        <label for="first_name">First Name</label>
        <input required id="first_name" name="first_name" />
        <label for="last_name">Last Name</label>
        <input required id="last_name" name="last_name" />
        <div *ngIf="familyChecked">
            <label for="spouse_first_name">Spouse's First Name</label>
            <input required id="spouse_first_name" name="spouse_first_name" />
            <label for="spouse_last_name">Spouse's Last Name</label>
            <input required id="spouse_last_name" name="spouse_last_name" />
        </div>
        <label for="email">Email</label>
        <input required id="email" name="email" />
        <label for="phone">Phone</label>
        <input required id="phone" name="phone" />
        <label for="address">Address</label>
        <input required id="address" name="address" />
        <button style="margin-left: 0;" class="btn-primary" type="submit">Submit</button>
    </form>
</div> -->
 <div *ngIf="signUpVisible" class="membership-text tx-secondary">
    <h1>test</h1>
    <app-dynamic-form [questions]="questions$ | async"></app-dynamic-form>
 </div>
</div>