h1 {
    margin: 0px;
}

h2 {
    margin-top: 10px;
}

h3 {
    margin: 0px;
}

label {
    text-align: left;
    margin-right: 10px;
    max-width: 300px;
}

input {
    width: 300px;
}

select {
    width: 312px;
}

textarea {
    max-width: 800px;
}

#membershipContainer, #requestContainer {
    background-color: #4f7faa;
    border-radius: 10px;
    padding: 10px;
}

.membership-text {
    max-width: 1200px;
    padding: 10px;
    padding-bottom: 0px;
    margin: auto;
}

.flex {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.flex-items {
    display: flex;
    flex-direction: column;
}

.invalid {
    border-left: 5px solid #a94442;
}

.anotherFlex {
    display: flex;
    flex-direction: column;
}

.errorFlex {
    display: flex;
    flex-direction: row;
}

.title {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}

.membership-container {
    max-width: 1200px;
    min-width: 375px;
    margin: auto;
}

.membership-title {
    position: absolute;
    top: 10%;
    right: 5%;
}

.membership-img {
    background: url('/roger-starnes-s.jpg') no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 175px;
    background-position: bottom;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.membership-body {
    margin-top: 10px;
    border-radius: 10px;
    background-color: #4f7faa;
    margin: auto;
    max-width: 1200px;
}

.member-tabs {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.tab {
    width: 50%;
    height: 65px;
    align-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab:hover {
    cursor: pointer;
}

.primary {
    color: white;
    background-color: #4f7faa;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.secondary {
    background-color: white;
    color: #4f7faa;
}

.membership-tagline {
    margin: 20px 0px 20px 0px;
}

.membership-form, .event-form {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 800px;
}

@media screen and (min-width: 760px) {
    .membership-body {
        margin-top: 10px;
        width: 80vw;
        margin: auto;
    }
    .membership-img {
        background: url('/roger-starnes-m.jpg') no-repeat;
        background-position: bottom 30% right 40%;
        background-size: cover;
    }
}